.plusButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
}

textarea {
  border: none;
  outline: none;
}

.liste,
.sectionNote {
  transition: all 1s ease;
}

.corps {
  background-color: #cd8b62;
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
}
